
<% provide(:title, @user.name) %>
<% if logged_in? %>
  <%= link_to "Create Event",  new_event_path %>
<% end %>
<div class="row">
  <aside class="col-md-4">
  </aside>
  <div class="col-md-8">
    <% if @user.events.any? %>
      <h3>Hosted Events (<%= @user.events.count %>)</h3>
      <ol class="microposts">
        <%= render @events %>
      </ol>
    <% end %>
    <% if @upcoming_events.any? %>
      <h3>Upcoming Events (<%= @upcoming_events.count %>)</h3>
      <ol class="microposts">
        <%= render @upcoming_events %>
      </ol>
    <% end %>

    <% if @prev_events.any? %>
      <h3>Previous Events (<%= @prev_events.count %>)</h3>
      <ol class="microposts">
        <%= render @prev_events %>
      </ol>
    <% end %>
  </div>
</div>
<% if logged_in? %>
  <div >
    <aside class="col-md-8">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% end %>
